.top_level_menu
{
    background-color:blue;
    color:blue;
    height: 10%;
}

.main_screen
{
    float:left;
    background-color:red;
    color:black;
    width: 80%;
    height: 60%;
}

.left_menu
{
    background-color:green;
    color:green;
    color:black;
    height: 60%;
}

.wrapper {
    overflow: auto;
    margin: auto;
    width: 315px;
    height: 50%;
}




